<form id="main-contact-form" enctype="multipart/form-data"  class=" row" name="contact-form" method="post" action="/team/upload/23">
  <div class="row center" >
    <br/>
    <p class="heading h1 myFont red-text  lighten-1 center">Cambiar Imagen</p>
    <br/>
    <div class="col s4 offset-s3" >
      <input id="image" type="file" name="image" class="image center " />
    </div>
  </div>
  <div class="row">
    <div class=" col s4 offset-s3 " >
      <button id="target" type="submit" name="submit" class="btn waves-effect waves-light right red lighten-1" >Enviar</button>
      <a href="#!" class=" modal-action right modal-close btn waves-effect waves-light right grey">Cancelar</a>
      
    </div>
  </div>
</div>
</form>