<div class="container" ng-app="UserModule" ng-controller="UserController as UserControl">
  <div class="row">
    <form class="col s12" ng-submit="UserControl.createUser()">
      <div class="row">
        <div class="input-field col s6 m6 l12">
          <input placeholder="{{::i18n.emailPlaceholder}}"
          type="email" class="validate" ng-model="UserControl.user.email">
          <label>{{::i18n.emailPlaceholder}}</label>
        </div>
        <div class="input-field col s6 m6 l12">
          <input placeholder="{{::i18n.passwordPlaceholder}}"
           type="password" class="validate" ng-model="UserControl.user.password">
          <label>{{::i18n.passwordPlaceholder}}</label>
        </div>
        <div class="input-field col s6 m6 l12">
          <input type="submit">
        </div>
      </div>
    </form>
  </div>
</div>
