<div class="container" ng-app="MatchModule" ng-controller="MatchController as MatchControl">
  <div class="row">
    <form class="col s12" ng-submit="MatchControl.createMatch()">
      <div class="row">
        <div class="input-field col s6 m6 l12">
          <input placeholder="{{::i18n.namePlaceholder}}"
          type="email" class="validate" ng-model="UserControl.user.email">
          <label>{{::i18n.namePlaceholder}}</label>
        </div>
      </div>
    </form>
  </div>
</div>
