<div class="team-new-container container"  ng-controller="NewTeamController as NewTeamControl">
  <div class="row">
    <div class="col s12 m12 l12">
      <h5 class="title">{{i18n.newTeamLabel}}</h5>
    </div>
  </div>
  <div class="row">
    <form class="col s12" ng-submit="NewTeamControl.createTeam()">
      <div class="row">
        <div class="input-field col s6 m6 l12">
          <input placeholder="{{::i18n.namePlaceholder}}"
          type="text" class="validate" ng-model="NewTeamControl.team.name">
          <label>{{::i18n.namePlaceholder}}</label>
        </div>
        <div class="input-field col s6 m6 l12">
          <input
          type="submit" class="validate" value="{{i18n.sendPlaceholder}}">
        </div>
      </div>
    </form>
  </div>
</div>
