<div class="show-team-container container" ng-controller="ShowTeamController as ShowTeamControl">
	<div class="row">
		<div class="col s12 m12 l12">
			<div class="card">
				<div class="card-image" ng-if="ShowTeamControl.team.image">
					<img height="200" width="200"ng-src="{{ShowTeamControl.team.image}}" >
				</div>
				<div class="card-content center-align">
					<p>{{ShowTeamControl.team.name}}</p>
				</div>
				<div class="card-action">
					<a href="#">This is a link</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m12 l12">
			<form  enctype="multipart/form-data"  name="contact-form" method="post" action="{{ShowTeamControl.uploadAction}}">
				<div class="file-field input-field">
					<div class="btn">
						<span>{{::i18n.selectImageLabel}}</span>
						<input type="file" name="image">
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
				<button id="target" type="submit" name="submit" class="btn waves-effect waves-light right red lighten-1" >{{::i18n.uploadImageLabel}}</button>
				
			</form>
		</div>
	</div>
</div>